<footer class="bg-danger">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>About Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="col-md-6">
          <h2>Contact Us</h2>
           <hr>
           <form action="" method="post" role="form">
            <div class="form-group">
              <label for="">Email</label>
              <input type="text" class="form-control" id="" placeholder="Input field">
            </div>
  
            <button class="btn btn-primary" type="submit">Submit</button>
           </form>
        </div>
      </div>
    </div>
  </footer>