<app-header />

<div class="container">
  <h1 [class.active]="isActive">{{title}}</h1>
  <!-- Data binding có 2 kiểu là one way binding và two way binding -->
  <!-- Cách binding 1 -->
  <!-- <img src="{{img_link}}" alt=""> -->
  <!-- Cách binding 2 kiểu Attribute -->
  <!-- <img [src]="img_link" alt=""> -->
  
  <hr>
  <button (click)="sayHello()">Click</button>
  <p [innerHTML]="content"></p> 

  <!-- two way data binding -->
  <input type="text" class="form-control" [(ngModel)]="title">
  <input type="checkbox" [(ngModel)]="isActive">

  <!-- Các Directive thường dùng -->
  <!-- Directive 1 -->
  <h1 [class.active]="isActive" *ngIf="isActive">{{title}}</h1>
  <!-- Directive 2 -->
  <div [ngSwitch]="errorCode">
    <div class="jumbotron" *ngSwitchCase="404">
      <div class="container">
          <h1>404 Not Found</h1>
          <p>Content...</p>
          <p>
            <a class="btn btn-primary btn-lg">Learn more</a>
          </p>
      </div>
    </div>
  
    <div class="jumbotron" *ngSwitchCase="403">
      <div class="container">
          <h1>403 Forbidden</h1>
          <p>Content...</p>
          <p>
            <a class="btn btn-primary btn-lg">Learn more</a>
          </p>
      </div>
    </div>
  
    <div class="jumbotron" *ngSwitchCase="405">
      <div class="container">
          <h1>405 Method Not Allow</h1>
          <p>Content...</p>
          <p>
            <a class="btn btn-primary btn-lg">Learn more</a>
          </p>
      </div>
    </div>
  </div>
  <!-- Directive 3 vòng lập -->
  <h2>Danh Sách Sinh Viên</h2>
  <hr>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>STT</th>
        <th>Họ & Tên</th>
        <th>Tuổi</th>
        <th>Ảnh</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let std of students; let index = index">
        <td>{{index + 1}}</td>
        <td>{{std.name}}</td>
        <td>{{std.age}}</td>
        <td>
          <img [src]="std.img" alt="" width="60">
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Danh Sách Sản Phẩm</h2>
  <hr>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên Sản Phẩm</th>
        <th>Giá Tiền</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of products; let idx = index">
        <td>{{idx + 1}}</td>
        <td>{{p.name}}</td>
        <td>{{p.price | currency:" "}} VND</td>
      </tr>
    </tbody>
  </table>
  
</div>

<app-footer />